body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

video, canvas {
  width: 90%;
  max-width: 400px;
  border: 2px solid black;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
}

#result {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}
